<!DOCTYPE html>
<html lang="en">

<body>


    <h1>Special Offers</h1>

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="product-box mb-3 product-box-small">
                    <img src="../../assets/images/repel.png">
                    <div class="product-description">
                        <h4>Repel</h4>
                        <h5>A spray-type repellent. It keeps wild Pokémon away for 100 steps after its use.
                        </h5>
                        <p>$350.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="product-box mb-3 product-box-small">
                    <img src="../../assets/images/super_repel.png">
                    <div class="product-description">
                        <h4>Super Repel</h4>
                        <h5>A spray-type repellent. It keeps wild Pokémon away for 200 steps after its use.
                        </h5>
                        <p>$500.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="product-box mb-3 product-box-small">
                    <img src="../../assets/images/max_repel.png">
                    <div class="product-description">
                        <h4>Max Repel</h4>
                        <h5>A can of a miraculous spray. It keeps wild Pokémon away for 250 steps after its use.
                        </h5>
                        <p>$700.00</p>
                    </div>
                </div>
            </div>

        </div>


    </div>
</body>

</html>