<menu>
    <div class="dropdown">
        <select class="select" [(ngModel)]="selectedOption">
            <option class="opcao" value="" disabled selected>Select an option</option>
            <option class="opcao" value="PokéBall">PokéBall</option>
            <option class="opcao" value="GreatBall">GreatBall</option>
            <option class="opcao" value="UltraBall">UltraBall</option>
        </select>
    </div>

    <div class="container">
        <div class="row justify-content-center" style="display: flex;" *ngIf="selectedOption">
            <div class="col-md-4">
                <div class="product-box mb-3 product-box-small">
                    <img [src]="'assets/' + images[selectedOption]" alt="{{ selectedOption }}" alt="Produto 1"
                        class="img-fluid img-small">
                    <div class="product-description">
                        <h4>{{ selectedOption }}</h4>
                        <h5>{{ descriptions[selectedOption] }}</h5>
                        <p>{{ prices[selectedOption] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</menu>