/* Estilo para centralizar o componente */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Reset de estilos básicos */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Estilos para o menu */
.menu {
    background-color: #e63746;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Pokemon', sans-serif;
    font-size: 24px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ffd700;
}

/* Adicione o background color ao corpo (body) */
body {
    background-color: #f2f2f2; /* Altere para a cor de fundo desejada */
}
