<!DOCTYPE html>
<html>

<head>
  <title>About PokéMart</title>
  <link rel="stylesheet" type="text/css" href="./about-us.component.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

</head>

<body>
  <section class="about">
    <div class="main">
      <img src="../../../assets/images/PokeBall.png">
      <div class="about-text">
        <h1>About Us</h1>
        <h5>The most famous store to the <span>most special trainers!</span></h5>
        <p>Located all over the world, we are here to provide what you need to most on your Pokémon adventure!</p>
        <button type="button">Place an order</button>
      </div>
    </div>
  </section>
</body>

</html>
