<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PokéMart</title>
  <link rel="stylesheet" href="./nav-menu.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<header>
  <nav class="nav-bar">
    <div class="logo">
      <img src="../../assets/images/icon.png" alt="PokeMart" class="img-fluid img-small">
    </div>
    <div class="nav-list">
      <ul>
        <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/offers" class="nav-link">Special Offers</a></li>
        <li class="nav-item"><a routerLink="/conecta" class="nav-link">API</a></li>
        <li class="nav-item"><a routerLink="/offers" class="nav-link">C</a></li>
        <li class="nav-item"><a routerLink="/offers" class="nav-link">D</a></li>
      </ul>
    </div>
    <div class="login-button">
      <button><a href="#">Sign In</a></button>
    </div>
  </nav>
</header>

<script src="../../assets/js/menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
