<p>product-row works!</p>
<div class="row">
    <!-- Produto 1 -->
    <div class="col-md-4">
        <div class="product-box mb-3">
            <img src="/src/assets/images/PokeBall.png" alt="Produto 1" class="img-fluid">
            <div class="product-description">
                <h4>Produto 1</h4>
                <p>Descrição do Produto 1</p>
            </div>
        </div>
    </div>
    <!-- Produto 2 -->
    <div class="col-md-4">
        <div class="product-box mb-3">
            <img url="/src/assets/images/PokeBall.png" alt="Produto 2" class="img-fluid">
            <div class="product-description">
                <h4>Produto 2</h4>
                <p>Descrição do Produto 2</p>
            </div>
        </div>
    </div>
    <!-- Produto 3 -->
    <div class="col-md-4">
        <div class="product-box mb-3">
            <img src="/src/assets/images/UltraBall.png" alt="Produto 3" class="img-fluid">
            <div class="product-description">
                <h4>Produto 3</h4>
                <p>Descrição do Produto 3</p>
            </div>
        </div>
    </div>
    <!-- Adicione mais produtos seguindo o mesmo padrão -->
</div>