.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #f2f2f2;
    padding: 20px;
}

.product-box-small {
    max-width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: #23242a;
    text-align: center;
    color: #fff;
}

.product-box-small img {
    max-width: 100px;
    max-height: 100px;
}

.product-description h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.product-description p {
    font-size: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 0 0 calc(33.333% - 20px); /* 33.333% com margem direita de 20px para três colunas por linha */
    margin-bottom: 20px;
}