<div class="row justify-content-center" style="display: flex;">
    <!-- Produto 1 -->
    <div class="col-md-4">
        <div class="product-box mb-3 product-box-small">
            <img src="../../assets/images/PokeBall.png" alt="Produto 1" class="img-fluid img-small">
            <div class="product-description">
                <h4>PokéBall</h4>
                <p>A clássica e confiável PokéBall para capturar Pokémon.</p>
            </div>
        </div>
    </div>
    <!-- Produto 2 -->
    <div class="col-md-4">
        <div class="product-box mb-3 product-box-small">
            <img src="../../assets/images/GreatBall.png" alt="Produto 2" class="img-fluid img-small">
            <div class="product-description">
                <h4>GreatBall</h4>
                <p>Uma opção mais eficaz para pegar Pokémon.</p>
            </div>
        </div>
    </div>
    <!-- Produto 3 -->
    <div class="col-md-4">
        <div class="product-box mb-3 product-box-small">
            <img src="../../assets/images/UltraBall.png" alt="Produto 3" class="img-fluid img-small">
            <div class="product-description">
                <h4>UltraBall</h4>
                <p>A melhor escolha para capturar Pokémon desafiadores.</p>
            </div>
        </div>
    </div>
</div>